// ==========================================================================
// Base / Page
// ==========================================================================

html {
  font-family: $global-font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;

  &.is-loading {
    cursor: wait;
  }

  &.has-scroll-smooth {
    overflow: hidden;
  }

  &.has-scroll-dragging {
    user-select: none;
  }

  @include mq($until: tablet) {
    font-size: 1em;
  }
}

body {
  &.has-scroll-smooth & {
    overflow: hidden;
  }
}

main {
  padding-bottom: $inuit-global-spacing-unit-huge;
  @include mq($until: tablet) {
    padding: 0;
  }
}

::selection {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-shadow: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  @include u-hocus {
    color: #929ca6;
  }
}
