.c-header-navigation {
  &.-desktop {
    display: block;
    flex-flow: row;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    @media (max-width: $to-small) {
      display: none;
    }
  }
  &.-desktop &__link {
    position: relative;
    line-height: 120px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    outline: none;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 15px;
  }
  &.-desktop &__item {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    padding: 0 1.25rem;
    height: 120px;
    line-height: 120px;
    &:hover:before {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height: 60px;
      content: "";
      display: block;
      background: var(--dark-color);
    }
    &:hover > .c-header-navigation__link {
      color: var(--secondary-color);
    }
  }

  &.-mobile {
  }
}
