.c-heading {
  line-height: $line-height-h;
  margin-bottom: rem(30px);

  &.-h1 {
    font-size: rem($font-size-h1);
  }

  &.-h2 {
    font-size: rem($font-size-h2);
    font-weight: 700;
    &:after {
      content: "—";
      display: block;
      color: var(--primary-color);
      font-weight: 400;
      padding-top: 1rem;
    }
  }

  &.-h3 {
    font-size: rem($font-size-h3);
    padding-bottom: 0.5em;
    font-weight: 800;
    padding-top: 0.5em;
    color: var(--dark-color);
  }

  &.-h4 {
    font-size: rem($font-size-h4);
  }

  &.-h5 {
    font-size: rem($font-size-h5);
  }

  &.-h6 {
    font-size: rem($font-size-h6);
    color: var(--primary-color);
    line-height: 1.4;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
