.c-slider {
  &__title {
    @include font-size(64.8px);
    font-weight: 700;
    margin-top: 20px;
    transform: translateY(0);
    opacity: 1;
    position: relative;
    z-index: 9;

    & span {
      display: inline;
      z-index: -1;
      background-image: linear-gradient(
        var(--primary-color),
        var(--primary-color)
      );
      background-position: 0 80%;
      background-repeat: no-repeat;
      background-size: 0 40%;
      margin-left: -0.55rem;
      margin-right: -0.55rem;
      padding-left: 0.55rem;
      padding-right: 0.55rem;
      transition: background-size 1s 1.5s ease;
    }
    & span.is-animating {
      background-size: 100% 40%;
    }
  }
  &__description {
    @include font-size(27px, 1.5);
    //font-size: 27px;
    margin-top: 1rem;
    //line-height: 1.5;
  }
}
