.c-slider {
  &__title {
    font-size: 54px;
    font-weight: 700;
    margin-top: 1rem;
    transform: translateY(0);
    opacity: 1;
    position: relative;
    z-index: 9;

    & span {
      display: inline;
      z-index: -1;
      background-image: linear-gradient(
        var(--primary-color),
        var(--primary-color)
      );
      background-position: 0 80%;
      background-repeat: no-repeat;
      background-size: 0 40%;
      margin-left: -0.55rem;
      margin-right: -0.55rem;
      padding-left: 0.55rem;
      padding-right: 0.55rem;
      transition: background-size 1s 1.5s ease;
    }
    & span.is-animating {
      background-size: 100% 40%;
    }
  }
  &__description {
    //@include font-size(28px, 2.25rem);
    font-size: rem(23px);
    margin-top: 1rem;
  }
}

.c-frontpage-slider {
  position: relative;
  overflow: hidden;
  &__background {
    height: 100vh;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    overflow: hidden;
  }
}
