.c-logoFooter {
  padding: 2rem;

  &_inner {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px,1fr));
    grid-gap: 2rem;
    align-items: center;
  }

  &_link {

  }
  &_media {

  }
}
