.c-footer {
  & > .o-section {
    padding: $inuit-global-spacing-unit-huge 0 0;
  }
  &__logo {
    display: block;
    position: absolute;
    top: $inuit-global-spacing-unit-tiny;
    @include font-size(14px);
    text-transform: uppercase;
    letter-spacing: 1.125px;
    font-weight: 600;
  }
  &__content {
  }
  &__footer {
    position: relative;
    text-align: center;
    display: block;
    height: 100px;
    margin-top: -100px;
  }
  &__newsletter {
    & p {
      font-weight: 700;
      @include font-size(35px, 1.14286);
      letter-spacing: .07px;
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }
  &__footernav {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: $inuit-global-spacing-unit-small
      calc(#{$inuit-global-spacing-unit-small} * 2);
    color: #fff;
    white-space: nowrap;
    list-style: none;
    background: var(--secondary-color);
    & > li {
      display: inline-block;
      height: 100%;
      margin: 0;
      padding: $inuit-global-spacing-unit-tiny;
      text-transform: uppercase;
      font-weight: bold;
      @include font-size(15px);
    }
  }
  &__box {
    position: relative;
    min-height: 400px;
    padding-top: $inuit-global-spacing-unit-large;
    &--left {
      padding-right: $inuit-global-spacing-unit-large;
    }
    &--right {
      margin-right: calc((100vw - 200%) / -2 + 0.5 * 20px);
      margin-left: -10px;
      padding-right: calc((100vw - 200%) / 2 - 0.5 * 20px);
      padding-bottom: 0;
      color: var(--white);
      background: var(--primary-color);
      padding-left: $inuit-global-spacing-unit-large;
    }
  }
}
