.c-footer {
  & > .o-section {
    padding: 0;

    @include mq($until: tablet) {
      padding: 0;
    }
  }
  &__logo {
    display: block;
    position: absolute;
    top: $inuit-global-spacing-unit-tiny;
    @include font-size(14px);
    text-transform: uppercase;
    letter-spacing: 1.125px;
    font-weight: 600;
  }
  &__content {
  }
  &__footer {
    position: relative;
    text-align: center;
    display: block;
    height: 100px;
    margin-top: -100px;

    @include mq($until: tablet) {
      height: rem(60px);
      margin-top: rem(-60px);
    }
  }
  &__newsletter {
    & h4 {
      font-weight: 700;
      @include font-size(35px, 1.14286);
      letter-spacing: 0.07px;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    & p {
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.07px;
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }
  &__footernav {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: $inuit-global-spacing-unit-small
      calc(#{$inuit-global-spacing-unit-small} * 2);
    color: #fff;
    white-space: nowrap;
    list-style: none;
    background: var(--secondary-color);

    @include mq($until: tablet) {
      padding: $inuit-global-spacing-unit-tiny
      calc(#{$inuit-global-spacing-unit-tiny} * 2);
    }
    & > li {
      display: inline-block;
      height: 100%;
      margin: 0;
      padding: $inuit-global-spacing-unit-tiny;
      text-transform: uppercase;
      font-weight: bold;
      @include font-size(15px);
    }
    & li a {
      color: inherit;
    }
  }
  &__box {
    position: relative;
    min-height: rem(400px);
    padding-top: $inuit-global-spacing-unit-large;
    @include mq($until: tablet) {
      min-height: rem(250px);
    }
    &--left {
      padding-right: $inuit-global-spacing-unit-large;
      @include mq($until: tablet) {
        margin-right: calc((100vw - 100%) / -2);
        margin-left: calc((100vw - 100%) / -2);
        padding-right: calc((100vw - 100%) / 2);
        padding-bottom: 70px;
        padding-left: calc((100vw - 100%) / 2);
      }
    }
    &--right {
      margin-right: calc((100vw - 200%) / -2 + 0.5 * 20px);
      margin-left: -10px;
      padding-right: calc((100vw - 200%) / 2 - 0.5 * 20px);
      padding-bottom: 0;
      color: var(--white);
      background: var(--primary-color);
      padding-left: $inuit-global-spacing-unit-large;

      @include mq($until: tablet) {
        margin-right: calc((100vw - 100%) / -2);
        margin-left: calc((100vw - 100%) / -2);
        padding-right: calc((100vw - 100%) / 2);
        padding-bottom: 70px;
        padding-left: calc((100vw - 100%) / 2);
      }
    }

    & img {
      width: 100%;
    }
  }
}
