.c-slider {
  &__title {
    font-size: 54px;
    font-weight: 700;
    margin-top: 1rem;
    transform: translateY(0);
    opacity: 1;
    position: relative;
    z-index: 9;

    & span {
      display: inline;
      z-index: -1;
      background-image: linear-gradient(
        var(--primary-color),
        var(--primary-color)
      );
      background-position: 0 80%;
      background-repeat: no-repeat;
      background-size: 0 40%;
      margin-left: -0.55rem;
      margin-right: -0.55rem;
      padding-left: 0.55rem;
      padding-right: 0.55rem;
      transition: background-size 1s 1.5s ease;
    }
    & span.is-animating {
      background-size: 100% 40%;
    }
  }
  &__description {
    //@include font-size(28px, 2.25rem);
    font-size: rem(23px);
    margin-top: 1rem;
  }
}

.c-frontpage-slider {
  position: relative;
  overflow: hidden;
  &__background {
    display: block;
    height: 100vh;
    position: absolute;
    //z-index: -1;
    right: 0;
    top: 0;
    overflow: hidden;

    @include mq($until: tablet) {
      display: none;
    }
  }

  &__fullscreen,
  &__mute {
    height: 2rem;
    width: 2rem;
    z-index: 900;
    position: absolute;
    bottom: 25vh;
    color: var(--white);
    transition: 0.2s color ease-in-out;

    @include u-hocus() {
      color: var(--primary-color);
    }
  }

  &__fullscreen {
    right: 5vw;
  }
  &__mute {
    right: 2vw;
    & #mute {
      display: block;
    }
    & #unmute {
      display: none;
    }
    &.is-active {
      & #mute {
        display: none;
      }
      & #unmute {
        display: block;
      }
    }
  }
}
