.c-partners {
  display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-column-gap: 16px;
  color: var(--black);
  padding: 1em 0 0.8em;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  &__logo {
    position: relative;
    padding-bottom: 50%;
    margin: 15px;

    & * {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
