/**
 * Global
 */
body {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 0;
  text-rendering: geometricPrecision;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: inherit;
    left: 0;
    height: 5px;
  }
  &:before,
  &:after {
    height: 20px;
  }
  &:after {
    bottom: 0;
  }
}

/**
 * Fonts
 */
@font-face {
  font-family: "Shape Super";
  src: url("../fonts/subset-Shape-SuperItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-SuperItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Black.woff2") format("woff2"),
    url("../fonts/subset-Shape-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape Super";
  src: url("../fonts/subset-Shape-Super.woff2") format("woff2"),
    url("../fonts/subset-Shape-Super.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-SemiBold.woff2") format("woff2"),
    url("../fonts/subset-Shape-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-LightItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Bold.woff2") format("woff2"),
    url("../fonts/subset-Shape-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Thin.woff2") format("woff2"),
    url("../fonts/subset-Shape-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape Hairline";
  src: url("../fonts/subset-Shape-Hairline.woff2") format("woff2"),
    url("../fonts/subset-Shape-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Light.woff2") format("woff2"),
    url("../fonts/subset-Shape-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Regular.woff2") format("woff2"),
    url("../fonts/subset-Shape-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape Hairline";
  src: url("../fonts/subset-Shape-HairlineItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-HairlineItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-BlackItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-RegularItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-ThinItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-BoldItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-Medium.woff2") format("woff2"),
    url("../fonts/subset-Shape-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-MediumItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Shape";
  src: url("../fonts/subset-Shape-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/subset-Shape-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
