// ==========================================================================
// Base / Page
// ==========================================================================

html {
  font-family: $global-font-family;
  line-height: $global-line-height; /* [1] */
  min-height: 100%; /* [2] */
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $to-small) {
    font-size: 12px;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    font-size: 13px;
  }

  @media (min-width: $from-medium) and (max-width: $to-large) {
    font-size: 14px;
  }

  @media (min-width: $from-large) and (max-width: $to-huge) {
    font-size: $global-font-size; /* [1] */
  }

  @media (min-width: $from-huge) and (max-width: $to-gigantic) {
    font-size: 18px;
  }

  @media (min-width: $from-gigantic) and (max-width: $to-colossal) {
    font-size: 21px;
  }

  @media (min-width: $from-colossal) {
    font-size: 24px;
  }

  &.is-loading {
    cursor: wait;
  }

  &.has-scroll-smooth {
    overflow: hidden;
  }

  &.has-scroll-dragging {
    user-select: none;
  }
}

body {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 0;

  &.has-scroll-smooth & {
    overflow: hidden;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    background: var(--white);
    left: 0;
    height: 5px;
  }
  &:before,
  &:after {
    height: 20px;
  }
  &:after {
    bottom: 0;
    top: auto;
  }
}

::selection {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-shadow: none;
}

a {
  color: var(--primary-color);
}
