@import '~flexbox-grid-mixins';

$default-grid-columns: 12;
$default-grid-gutter: 4%;

.u-grid {
  @include grid($gutter: $default-grid-gutter, $flex-wrap: wrap);

  @for $i from 1 through $default-grid-columns {
    > .u-grid__col-#{$i} {
      @include grid-col(
        $col: $i,
        $grid-columns: $default-grid-columns,
        $gutter: $default-grid-gutter
      );
    }
  }
}
