.o-gutenberg-content {
  width: 100%;
  padding: calc(8rem - 0px) 0 calc(16rem - 0px);

  @media (max-width: $to-small) {
    padding: calc(4rem - 0px) 0 calc(8rem - 0px);
  }

  & p a {
    color: var(--primary-color);
    @include u-hocus {
      color: #929ca6;
    }
  }
  & p {
    font-size: rem(27px);
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $line-height-h;
    margin-bottom: rem(30px);
  }
  & h2 {
    font-size: rem($font-size-h2);
    font-weight: 700;
    &:after {
      content: "—";
      display: block;
      color: var(--primary-color);
      font-weight: 400;
      padding-top: 1rem;
    }
    margin-bottom: rem(20px);
  }
  & h3 {
    font-size: rem($font-size-h3);
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 800;
    margin-bottom: rem(2.5px);
  }
  & h4 {
    font-size: rem($font-size-h4);
  }
  & h5 {
    font-size: rem($font-size-h5);
  }
  & h6 {
    color: var(--primary-color);
    margin-bottom: rem(40px);
    line-height: 1.4;
    font-weight: 800;
    font-size: rem($font-size-h6);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
