/**
 * Editor
 */
// Settings
// ==========================================================================
//@import "settings/colors";
//@import "settings/config";
//@import "settings/variables";
@import "generic/generic.fonts";
@import "settings/settings.config";
@import "settings/settings.global";
@import "~inuitcss/settings/settings.core";

// ==========================================================================
// Tools
// ==========================================================================
//@import "tools/functions";
//@import "tools/mixins";
//@import "tools/fonts";
//@import "tools/layout";
//@import 'settings/variables';
@import "~inuitcss/tools/tools.font-size";
@import "~inuitcss/tools/tools.clearfix";
@import "~inuitcss/tools/tools.hidden";
@import "~sass-mq/mq";
@import "tools/tools.aliases";
@import "tools/tools.mixins";
@import "tools/tools.functions";

//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

.wp-block {
  max-width: rem(1140px);
}

.editor-styles-wrapper > * {
  font-family: $global-font-family;
}

.editor-styles-wrapper {
  & p a {
    color: var(--primary-color);
  }
  & p {
    @include font-size(20px);
    margin-bottom: 1rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: rem(30px, 18px);
  }
  & h2 {
    @include font-size(52px, 84px);
    //font-size: rem($font-size-h2, 18px);
    font-weight: 700;
    &:after {
      content: "—";
      display: block;
      color: var(--primary-color);
      font-weight: 400;
      padding-top: 1rem;
    }
    margin-bottom: 1rem;
  }
  & h3 {
    @include font-size(41px, 68px);
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 800;
    margin-bottom: rem(2.5px, 18px);
  }
  & h4 {
    @include font-size(32px, 55px);
  }
  & h5 {
    @include font-size(25px, 45px);
  }
  & h6 {
    @include font-size(16px, 32px);
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.is-style-rcg-people {
  @include mq($until: mobile) {
    display: flex;
  }
  & tr {
    border-top: 2px solid var(--dark-color);

    @include mq($until: mobile) {
      display: flex;
      flex-flow: column;
    }

    & td {
      @include font-size(16px);
      padding-top: $inuit-global-spacing-unit-small;
      padding-bottom: calc(#{$inuit-global-spacing-unit-small} * 2);
    }
    & td:first-of-type {
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }
    & td:first-of-type strong {
      margin: $inuit-global-spacing-unit-tiny 0 $inuit-global-spacing-unit-tiny;
      font-weight: 700;
      @include font-size(22px);
    }
    & td:nth-of-type(2),
    & td:nth-of-type(3) {
      color: var(--primary-color);
      margin-bottom: $inuit-global-spacing-unit-tiny;
      font-weight: 700;
    }
  }
}

.is-style-rcg-block-primary {
  background: var(--primary-color);
  color: white;
  margin-bottom: 4rem;

  @include mq($until: tablet) {
    & .wp-block-media-text__content {
      padding: 2rem;
    }
  }
}

.is-style-rcg-block-secondary {
  background: var(--secondary-color);
  color: white;
  margin-bottom: 4rem;

  @include mq($until: tablet) {
    & .wp-block-media-text__content {
      padding: 2rem;
    }
  }
}

.rcg-columns-secondary {
  background: var(--secondary-color);
  color: white;
  padding: 2rem;
  align-items: center;
  & .wp-block-embed {
    margin: 0;
  }
  & .wp-block-group {
    & h5 {
      font-size: 1.1rem;
      line-height: 1.8181818182;
      font-weight: 700;
      display: block;
      margin: 0;
    }
    & h6 {
      font-size: 0.8rem;
      line-height: 1.875;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      display: inherit;
      max-width: 100%;
      margin-bottom: 20px;
      color: white;
    }
    & p {
      font-size: 0.8rem;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.rcg-columns-primary {
  background: var(--primary-color);
  color: white;
  padding: 2rem;
  align-items: center;
  & .wp-block-embed {
    margin: 0;
  }
  & .wp-block-group {
    & h5 {
      font-size: 1.1rem;
      line-height: 1.8181818182;
      font-weight: 700;
      display: block;
      margin: 0;
    }
    & h6 {
      font-size: 0.8rem;
      line-height: 1.875;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      display: inherit;
      max-width: 100%;
      margin-bottom: 20px;
      color: white;
    }
    & p {
      font-size: 0.8rem;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
.rcg-columns-secondary {
  background: var(--secondary-color);
  color: white;
  padding: 2rem;
  align-items: center;
  & .wp-block-embed {
    margin: 0;
  }
  & .wp-block-group {
    & h5 {
      font-size: 1.1rem;
      line-height: 1.8181818182;
      font-weight: 700;
      display: block;
      margin: 0;
    }
    & h6 {
      font-size: 0.8rem;
      line-height: 1.875;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      display: inherit;
      max-width: 100%;
      margin-bottom: 20px;
      color: white;
    }
    & p {
      font-size: 0.8rem;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.rcg-columns-outline {
  background: white;
  border: 2px solid var(--primary-color);
  color: inherit;
  padding: 2rem;
  align-items: center;
  & .wp-block-embed {
    margin: 0;
  }
  & .wp-block-group {
    & h5 {
      font-size: 1.1rem;
      line-height: 1.8181818182;
      font-weight: 700;
      display: block;
      margin-bottom: 0;
    }
    & h6 {
      font-size: 0.8rem;
      line-height: 1.875;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      display: inherit;
      max-width: 100%;
      margin-bottom: 0;
      color: inherit;
    }
    & p {
      font-size: 0.8rem;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
